<a href="https://colab.research.google.com/github/fanfbryn/Analisis-Sentimen-K22/blob/main/Preprocessing1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from collections import defaultdict
from collections import  Counter
plt.style.use('ggplot')
import re
from nltk.tokenize import word_tokenize
import string
from sklearn.model_selection import train_test_split
from datetime import datetime, date

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving kurikulum2022.csv to kurikulum2022.csv

In [ ]:
data= pd.read_csv('kurikulum2022.csv')
data

      Unnamed: 0  ...                                               text
0              0  ...  b'RT @schfess: sch! SALAM DARI AKU YG UDAH PAK...
1              1  ...  b'RT @schfess: sch! SALAM DARI AKU YG UDAH PAK...
2              2  ...  b'RT @schfess: sch! SALAM DARI AKU YG UDAH PAK...
3              3  ...  b'RT @schfess: sch! SALAM DARI AKU YG UDAH PAK...
4              4  ...  b'RT @schfess: sch! SALAM DARI AKU YG UDAH PAK...
...          ...  ...                                                ...
999          999  ...  b'RT @cewekbangetid: Enggak cuma buat SMA, kur...
1000        1000  ...  b'RT @cewekbangetid: Kurikulum di tahun 2022 b...
1001        1001  ...  b'RT @cewekbangetid: Rencananya, kurikulum tah...
1002        1002  ...  b'Ramai soal Kurikulum 2022 SMA Tidak Ada Juru...
1003        1003  ...         b'@haechanbakpau 2022 kan ganti kurikulum'

[1004 rows x 6 columns]

In [ ]:
data.isna().sum()

Unnamed: 0    0
index         0
waktu         0
id            0
username      0
text          0
dtype: int64

In [ ]:
data = data.drop_duplicates(subset=['text'])
data

      Unnamed: 0  ...                                               text
0              0  ...  b'RT @schfess: sch! SALAM DARI AKU YG UDAH PAK...
6              6  ...  b'RT @June_dya77: Ini bagus banget, karena aka...
11            11  ...  b'Ini bagus banget, karena akan menimbulkan ra...
12            12  ...  b'(seperti UTBK-SBMPTN).\n\nDari sisi lain pro...
13            13  ...  b'@haedhi +dari aku yg kerja di lingk pendidik...
...          ...  ...                                                ...
996          996  ...  b'Kalau aku sih YES \xf0\x9f\x91\x8d\n\nRamai ...
997          997  ...  b'KEMENTERIAN Pendidikan, Kebudayaan, Riset, d...
998          998  ...  b'Kurikulum Baru 2022, Kelas X SMK Sudah Bisa ...
1002        1002  ...  b'Ramai soal Kurikulum 2022 SMA Tidak Ada Juru...
1003        1003  ...         b'@haechanbakpau 2022 kan ganti kurikulum'

[236 rows x 6 columns]

In [ ]:
import string
punct = set(string.punctuation)
print(punct)

{'$', '?', '&', ':', '=', '^', '+', '#', '}', '!', ']', '@', '<', '-', '*', '(', '.', '/', '\\', '>', '_', ',', '[', '"', ')', '%', ';', '~', '{', '|', "'", '`'}

In [ ]:
emoji = set()
for s in data['text'].fillna('').astype(str):
    for c in s:
        if c.isdigit() or c.isalpha() or c.isalnum() or c.isspace() or c in punct:
            continue
        emoji.add(c)
        
print(''.join(emoji))

In [ ]:
data['text']=data['text'].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
example="New competition launched :https://www.kaggle.com/c/nlp-getting-started"

def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

remove_URL(example)

'New competition launched :'

In [ ]:
data['text'] = data['text'].apply(lambda x : remove_URL(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def remove_hastag(x):
  x = re.sub(r'#\S+', ' ', x)
  return x

print(remove_hastag('kalo dijual perpohon...#simpleplanthidroponik #simpleplantbyyuka #simpleplant #selada'))

kalo dijual perpohon...

In [ ]:
data['text'] = data['text'].apply(lambda x : remove_hastag(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def remove_punct(text):
    table=str.maketrans('','',string.punctuation)
    return text.translate(table)

example="I am a #king"
print(remove_punct(example))

I am a king

In [ ]:
data['text'] = data['text'].apply(lambda x : remove_punct(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data['text'] = data['text'].apply(lambda x : x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data['text'] = data['text'].str.replace(u'xe2x80xa6', u'')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data.isna().sum()

Unnamed: 0    0
index         0
waktu         0
id            0
username      0
text          0
dtype: int64

In [ ]:
data = data.drop_duplicates(subset=['text'])
data

      Unnamed: 0  ...                                               text
0              0  ...  brt schfess sch salam dari aku yg udah pake ku...
6              6  ...  brt junedya77 ini bagus banget karena akan men...
11            11  ...  bini bagus banget karena akan menimbulkan rasa...
12            12  ...  bseperti utbksbmptnnndari sisi lain pro dan ko...
13            13  ...  bhaedhi dari aku yg kerja di lingk pendidikan ...
...          ...  ...                                                ...
996          996  ...  bkalau aku sih yes xf0x9fx91x8dnnramai soal ku...
997          997  ...  bkementerian pendidikan kebudayaan riset dan t...
998          998  ...  bkurikulum baru 2022 kelas x smk sudah bisa ik...
1002        1002  ...  bramai soal kurikulum 2022 sma tidak ada jurus...
1003        1003  ...            bhaechanbakpau 2022 kan ganti kurikulum

[229 rows x 6 columns]

In [ ]:
data.to_csv ('data.csv', index = None, header=True)

In [ ]:
from google.colab import drive
drive.mount('/drive')
data.to_csv('/drive/My Drive/Colab Notebooks/DataK22(1).csv')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).